{% extends 'base.html.twig' %}
{% trans_default_domain 'http-errors' %}

{% block menu %}{% endblock %}

{% block body %}
    <div class="container alert alert-warning">
        <h1>{{ 'http.status.404.title' | trans({}, 'http-errors') }}</h1>
        <p>{{ 'http.status.404.description' | trans({}, 'http-errors') | raw }}</p>
        <a class="btn btn-primary" href="{{ path('app_parkings') }}">{{ 'btn.returnToMainPage' | trans({}, 'http-errors') }}</a>
    </div>
{% endblock %}